<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/atividades.css">
        <title>Atividades</title>
    </head>
    <body>
        <div id="root">
            <header>
                <nav>
                    <a href="index.html">
                        <img src="https://d3un0zjblgkxzb.cloudfront.net/drupal/public/styles/converte_png/public/media/logo/2022-02/FIESP.png?itok=x89X0j-N" alt="Logo">
                    </a>    
                </nav>

                

                <a href="atividades.html" alt="Visualização das Atividades">
                <label>Atividades</label>
                </a>

                <h2> Nome Usuário </h2>
            </header>

                <div class="atvd">
                    <div class="poo">
                            <h1>Programação Orientado a Objeto: </h1>
                        <div>
                            <h3> Projeto 'x' </h3>
                            <h3>Data Entrega: xx/xx/xxxx </h3>
                            <h3>Nota: 90/100</h3>
                        </div>
                    </div>
                    
                    <div class="mat">
                            <h1>Matemática:</h1>
                        <div>
                            <h3> Projeto 'x' </h3>
                            <h3>Data Entrega: xx/xx/xxxx </h3>
                            <h3>Nota: 10/10</h3>
                        </div>
                    </div>
                    
                    <div class="redes">
                        <h1>Redes: </h1>
                        <div>
                            <h3> Projeto 'x' </h3>
                            <h3>Data Entrega: xx/xx/xxxx </h3>
                            <h3>Nota: 70/100</h3>
                        </div>
                    </div>
                    <div class="poo">
                        <h1>Biologia:</h1>
                        <div>
                            <h3> Projeto 'x' </h3>
                            <h3>Data Entrega: xx/xx/xxxx </h3>
                            <h3>Nota: 90/100</h3>
                        </div>
                    </div>
                        
                    <div class="mat">
                            <h1>Banco de dados:</h1>
                        <div>
                            <h3> Projeto 'x' </h3>
                            <h3>Data Entrega: xx/xx/xxxx </h3>
                            <h3>Nota: 100/100</h3>
                        </div>
                    </div>
                        
                    <div class="redes">
                        <h1>Português:</h1>
                    <div>
                        <h3> Projeto 'x' </h3>
                        <h3>Data Entrega: xx/xx/xxxx </h3>
                        <h3>Nota: 8/10</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>