<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html">
                    <img src="https://d3un0zjblgkxzb.cloudfront.net/drupal/public/styles/converte_png/public/media/logo/2022-02/FIESP.png?itok=x89X0j-N" alt="Logo">
                </a>
            </nav>

            <a href="atividades.html" alt="Visualização das Atividades">
            <label>Atividades</label>
            </a>

            <h2> Nome Usuário </h2>
        </header>
        <section>
                <div id="items_Wrapper">
                    <div id="items">
                        <div class="item"> <img src="https://grafica.sp.senai.br/galeriaimagens/imageviewer.ashx?Url=65586"> </div>
                        <div class="item"> <img src="https://theme.zdassets.com/theme_assets/12159627/2836dd5b0fc541f4e422a5935acbcedad29d349e.jpeg" ></div>
                        <div class="item"> <img src="https://i.pinimg.com/564x/f0/1b/3a/f01b3a3f1a96ebcfefe282ef592d947c.jpg"> </div>
                    </div>
                </div>
        </section>

    </body>
</html>